

<h1> Welcome to the Home Page </h1>

<%# link_to 'Go to Articles Listings', articles_path %>  

<%= button_to "Sign Up", signup_path  %>


<br/>
<br/>
<br/>

<%= link_to 'About Page', about_path %> 
<%= link_to 'Alpha Bloggers', users_path %> 