

<h1> Welcome to the Alpha Blog home page</h1>

<%# link_to 'Go to Articles Listings', articles_path %>  
<table>
    <tr>
        <td><%= link_to "Sign Up", signup_path  %></td>
        <td><%= link_to "Log in", login_path  %></td>
    </tr>
</table>




<br/>
<br/>
<br/>

<%= link_to 'About Page', about_path %> 
<%= link_to 'Alpha Bloggers', users_path %> 